body {
    margin: 0;
    height: 100dvh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
   

   
}
#game-container{
  font-family: Arial, sans-serif;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
    margin: 0;
    background-color: #000;
    
}
#gameArea {
    position: relative;
    width: 95%;
    height: 80%;
    background-color: #4E4E4E;
    border: 2px solid #000000;
    margin-bottom: 20px;
}

#target {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: 24px;
}

#gameOver {
  position: absolute;
    color: red;
    font-size: 32px;
    font-weight: bold;
    animation :bounce 500ms infinite ;
    
}






.container {
   width: 90%;
  margin: auto;

   text-align: center;
 
   
}


.container h1 {
  position: relative;
  color: #B1B5D7;
    font-size: 2rem;
    margin-top: 0%;
 
}


.start-button-container {
 
  
    background-color: #888;
    padding: 50px;
    border-radius: 20px;
    margin: auto;
}

.start-button {
    padding: 20px 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #bbb;
}

#rules{
  width:90%;
  background: #2C2E49;
  color: #6CE45F;
  border-radius: 10px;
  border:5px solid #35DC56;
  margin-top: 10%;
  padding:5%;
}
#rules h4{
  color:#A6E45F;
}
.rule{
  animation:scale 1s linear infinite;
}
@keyframes bounce{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2)
  }
}

@keyframes scale{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);
  }
}